html
    head
      title URL Shortener Microservice
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', type='text/css')
    body
      div.container-fluid
        div.col-xs-2
        div.col-xs-8
          div.row
            h1 API Projects
                br
                small URL Shortener Microservice
          div.row
            b User stories:
            ul
              li I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
              li If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.
              li When I visit that shortened URL, it will redirect me to my original link.
          div.row
            b Example usage:
            ul
                li
                    code #{host}/new/http://lefkowitz.me
            b Example output:
            ul
                li
                    code { "original_url":"http://lefkowitz.me", "short_url":"#{host}/rk5eps9xg" }
        div.col-xs-2
